body {
  background-color: #0D1117;
  color: #0dcaf0;
}
p{
    color: white;
}
.navbar-brand {

    color: #FFFFFF !important;
    font-size: 30px;
    padding-left: 30px;
}

.nav-link {
    color: #CCCCCC;

}
.bio {

    display: flex;
    gap: 30px;
    align-items: flex-start;
    border-bottom: 1px solid deepskyblue;

}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.skill {
  background-color: #0b5ed7;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 5px 14px;
  color: #ffffff;

}

.card {
    background-color: #1A1A1A;
    color: #ffffff;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-img-top {
    width: 100%;
    height: 250px;
}
.wide-img {
    width: 100%;
    height: 400px !important;

}
.phone-img {
    width: 90%;
    height: 400px !important;
    margin: 0 auto;
}
.card-body{
    flex-grow: 1;
}

.section {
  padding: 30px;
      margin-bottom: 35px;
}

.section2 {
  padding: 30px;
    margin-right: 40px;
    margin-bottom: 35px;
}

.section .card {
    height: 100%;
}

.project {

  width: 95%;
  margin: 0 auto;
}
.projects {

   padding: 30px;
}
.about {

   padding: 30px;
}

.back {
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
}
footer {
  text-align: center;
}

.section-gap {
    margin-bottom: 20px;
}

@media (max-width: 576px) {
    .card-img-top {
        height: auto !important;
    }
}


@media (max-width: 576px) {
    .mobile-center {
        flex-direction: column;
    }
    .navbar-brand {
        font-size: 20px;
    }
}

.mobile-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links {
    display: flex;
    gap: 15px;
}
